<h1>Foo#index</h1>
<p>Find me in app/views/foo/index.html.erb</p>



<h1><%= @message %></h1>
<p>This is a greeting from app/views/hello/index.html.erb</p>

<% @count.times do %>
  <p><%= @bonus %></p>
<% end %>


<%= @result %>
